#alertPopup {
    display: none;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 100;
    cursor: pointer;
}

.group-marg {
    margin: 50px 0;
}

.button-marg {
    text-align: center;
    margin-top: 10px;
}

#plclosed {
    color: #FF0000;
}

.hidden-card {
    display: none;
}

/** SPINNER CREATION **/
.loader {
    position: relative;
    text-align: center;
    margin: 30px auto 30px auto;
    z-index: 9999;
    display: block;
    width: 80px;
    height: 80px;
    border: 10px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
